<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MorphologicalChart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MorphologicalChart.Properties.Settings>
            <setting name="colorBack" serializeAs="String">
                <value>45, 45, 48</value>
            </setting>
            <setting name="colorFront" serializeAs="String">
                <value>239, 124, 4</value>
            </setting>
            <setting name="colorFrontBorder" serializeAs="String">
                <value>167, 87, 3</value>
            </setting>
            <setting name="colorFrontHover" serializeAs="String">
                <value>200, 110, 4</value>
            </setting>
            <setting name="colorFrontClick" serializeAs="String">
                <value>150, 80, 3</value>
            </setting>
            <setting name="programName" serializeAs="String">
                <value>Morphological Chart Creator</value>
            </setting>
            <setting name="mailToAddress" serializeAs="String">
                <value>email@here.com</value>
            </setting>
            <setting name="loadingTimeMin" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="autosaveTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="mailFromAddress" serializeAs="String">
                <value>email@here.com</value>
            </setting>
            <setting name="mailToName" serializeAs="String">
                <value>Morphological Chart Team Rembrandts</value>
            </setting>
            <setting name="mailFromName" serializeAs="String">
                <value>Morphological Chart Team Rembrandts</value>
            </setting>
            <setting name="mailFromPass" serializeAs="String">
                <value>passwd.here.123</value>
            </setting>
            <setting name="mailFromHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="mailFromPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="mailSubject" serializeAs="String">
                <value>Morphological chart {0} {1}</value>
            </setting>
            <setting name="mailBody" serializeAs="String">
                <value>Morphological chart
PC name: {0}
User name: {1}
Date: {2}
File: {3}</value>
            </setting>
            <setting name="cureBoredomMinMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cureBoredomMaxSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="urlSettings" serializeAs="String">
                <value>http://pastebin.com/raw/mxdYqL6Y</value>
            </setting>
            <setting name="urlFunctions" serializeAs="String">
                <value />
            </setting>
        </MorphologicalChart.Properties.Settings>
    </applicationSettings>
</configuration>